*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(83, 83, 83);

  
}
.weather-container{
    background-color: rgb(229, 240, 240);
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px wheat;
    margin-left: 70px;
    margin-top: 200px;
}
.name{
  font-weight: bold;
  font-size: 23px;
  text-align: center;

}

.weather{
    font-size: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
